<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <RegistryUrl>https://registry.hub.docker.com/lukearnould</RegistryUrl>
    <UserName>lukearnould</UserName>
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>903c21b5-b979-43c7-8088-812a9926245e</ProjectGuid>
    <_TargetId>DockerContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>